:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  background: #232526;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://use.typekit.net/yws2hqq.css');
}
@font-face {
  font-family: 'playfair display black';
  src: url('fonts//Playfair_Display1/PlayfairDisplay-Black.ttf');
}
@font-face {
  font-family: 'playfair display regular';
  src: url('fonts//Playfair_Display1/PlayfairDisplay-Regular.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}